@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Teste Signa - Sistema para Gestão do seu Transporte <a href="https://signainfo.com.br/">Acesse Nossa Página</a>.</p>
</div>
